{% extends 'base.html.twig' %}

{% block title %}O mnie{% endblock %}

{% block content %}
    <div class=""  data-aos="fade">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="row mb-5 site-section">
                        <div class="col-12 ">
                            <h1 class="site-section-heading text-center">O mnie</h1>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-7">
                            <img src="images/about/{{ about.picture }}" alt="Image" class="img-fluid">
                        </div>
                        <div class="col-md-4 ml-auto">
                            <h3>Mój opis</h3>
                            <p>{{ about.description }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
