{% extends 'base.html.twig' %}

{% block title %}Cennik{% endblock %}

{% block content %}
    <div class=""  data-aos="fade">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="row site-section">
                        <div class="col-12 ">
                            <h1 class="site-section-heading text-center">Cennik</h1>
                        </div>
                    </div>
                    <div class="text-center mb-5">
                        <p class="h4">Strona w budowie</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
