{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Cennik{% endblock %}

{% block content %}
    <div class=""  data-aos="fade">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row site-section">
                        <div class="col-12 ">
                            <h1 class="site-section-heading text-center">Cennik</h1>
                        </div>
                    </div>

                    <div class="text-center mb-2">
                        <p class="h2">Śluby</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-4">
                            <p class="text-center mt-3">Standard - 350 zł</p>
                            <ul class="list-group">
                                <li class="list-group-item">Kosmetyczka, przygotowania w domu,</li>
                                <li class="list-group-item">Błogosławieństwo, ceremonia zaślubin,</li>
                                <li class="list-group-item">Życzenia, wesele-przyjęcie do max 1 w nocy*,</li>
                                <li class="list-group-item">Przerobione zdjęcia na płycie DVD - ok. 200 zdjęć,</li>
                                <li class="list-group-item">30 wywołanych zdjęć 15x20,</li>
                                <li class="list-group-item">Zdjęcia z gośćmi przed kościołem lub w kościele,</li>
                                <li class="list-group-item">Foto album</li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <p class="text-center mt-3">Plus - 500 zł</p>
                            <ul class="list-group">
                                <li class="list-group-item">Kosmetyczka, przygotowania w domu,</li>
                                <li class="list-group-item">Błogosławieństwo, ceremonia zaslubin,</li>
                                <li class="list-group-item">Życzenia, wesele-przyjęcie do max 1 w nocy*,</li>
                                <li class="list-group-item">Przerobione zdjęcia na płycie DVD - ok. 300 zdjęć,</li>
                                <li class="list-group-item">80 wywołanych zdjęć 15x20,</li>
                                <li class="list-group-item">Galeria internetowa zabezpieczona hasłem,</li>
                                <li class="list-group-item">Zdjęcia z gośćmi przed kościołem lub w kościele,</li>
                                <li class="list-group-item">Foto album</li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <p class="text-center mt-3">Ekstra - 650 zł</p>
                            <ul class="list-group">
                                <li class="list-group-item">Przygotowania ślub przyjęcie do max 1 w nocy,</li>
                                <li class="list-group-item">Przerobione zdjęcia na płycie DVD - ok. 400 zdjęć,</li>
                                <li class="list-group-item">80 Wywołanych zdjęć 15x20,</li>
                                <li class="list-group-item">Galeria internetowa zabezpieczona hasłem,</li>
                                <li class="list-group-item">Zdjęcia z gośćmi przed kościołem lub w kościele,</li>
                                <li class="list-group-item">Foto album lub fotoksiązka,</li>
                                <li class="list-group-item">Plener ślubny w innym dniu</li>
                            </ul>
                        </div>
                    </div>
                    <p class="text-muted text">Ślub - czas realizacji około 50 dni roboczych,<br>
                        *Dodatkowa godzina pracy 50 zł (po 1 w nocy)</p>
                </div>
            </div>



            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center mb-2">
                        <p class="h2 mt-4">I Komunia Święta</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center mt-3">250 zł</p>
                            <ul class="list-group">
                                <li class="list-group-item">Przygotowania, msza, przyjęcie do max godziny 19:00,</li>
                                <li class="list-group-item">Album typu jamnik,</li>
                                <li class="list-group-item">100 przerobionych zdjęć na pendrive z grawerem,</li>
                                <li class="list-group-item">30 wywołanych zdjęć,</li>
                                <li class="list-group-item">Foto obraz na płótnie</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center mb-2">
                        <p class="h2 mt-4">Chrzest Święty</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center mt-3">270 zł</p>
                            <ul class="list-group">
                                <li class="list-group-item">Przygotowania, cermonia w kościele, przyjęcie,</li>
                                <li class="list-group-item">Okolo 100 odbitek na pendrive z grawerem,</li>
                                <li class="list-group-item">Album typu jamnik na 4 lub 5 zdjęć 15x21 lub 15x23,</li>
                                <li class="list-group-item">Foto obraz na płótnie 20x20</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
