{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block content %}
    <div class=""  data-aos="fade">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="row mb-5 site-section">
                        <div class="col-12 ">
                            <h1 class="site-section-heading text-center">Galeria</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
