{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Osiągnięcia{% endblock %}

{% block content %}
    <div class=""  data-aos="fade">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="row site-section">
                        <div class="col-12 ">
                            <h1 class="site-section-heading text-center">Osiągnięcia</h1>
                        </div>
                    </div>
                    <div class="text-center mb-5">
                        <p class="h4">Uzyskanie certyfikatu Fotografa</p>
                        <img src="{{ asset('images/achieve/certyfikat.png') }}" class="img-fluid"/>
                    </div>

                    <div class="text-center mb-5">
                        <p class="h4">Uzyskanie certyfikatu Photoshop kreatywna fotografia ślubna</p>
                        <img src="{{ asset('images/achieve/certyfikat_2.png') }}" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
